/* ...........................LeftNav Styling.............................. */
.left-nav {
  min-width: 250px;
  max-width: 250px;
  height: 88vh;
  background-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #847e82;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.left-nav a {
  text-decoration: none;
  color: inherit;
}

.left-nav a:hover {
  color: white;
  text-decoration: none;
}

.left-nav ul {
  margin: 0;
  padding: 0;
}

.left-nav li {
  list-style-type: none;
}

.nav-pages li,
.nav-extra li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.nav-pages li:hover,
.nav-extra li:hover {
  transform: scale(1.035);
}

.nav-playlist li {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.logo img {
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.selected {
  background-color: #282828;
  color: white;
  border-radius: 5px;
}

/* ...........................LeftNav Styling.............................. */

/* ...........................MusicPlayer Styling.............................. */

.wrapper1 {
  width: 100%;
  z-index: 4;
}

.wrapper2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: #181818;
  border-top: 1px solid #282828;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 620px;

  user-select: none;
}

.now-playing {
  height: 12vh;
  min-width: 620px;
  background-color: #181818;
  color: #847e82;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.song-info {
  display: flex;
  flex-direction: column;
}

.song-details {
  min-width: 180px;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mini-song-album img {
  height: 50px;
  border-radius: 3px;
}

.song-info p {
  margin: 0;
}

.song-title {
  color: white;
}

.add-to-favorites,
.change-display {
  transition: transform 0.2s ease-in-out;
}

.add-to-favorites:hover,
.change-display:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.play-buttons {
  width: 25px;
  height: 25px;
}

.song-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 722px;
  width: 40%;
  margin-right: auto;
}

.shuffle-button,
.skip-left-button,
.skip-right-button,
.repeat-button {
  transition: transform 0.2s ease-in-out;
}

.shuffle-button:hover,
.skip-left-button:hover,
.skip-right-button:hover,
.repeat-button:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.play-button {
  border-radius: 50%;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.play-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.progress-initial {
  height: 5px;
  width: 450px;
  background-color: #847e82;
  position: relative;
}

.progress-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(47px);
}

.song-duration {
  transition: transform 0.2s ease-in-out;
}

.song-duration:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.playlist-controls {
  min-width: 180px;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.playlist-button {
  transition: transform 0.2s ease-in-out;
}

.playlist-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.pc-button {
  transition: transform 0.2s ease-in-out;
}

.pc-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-button {
  transition: transform 0.2s ease-in-out;
}

.volume-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-control {
  transition: transform 0.2s ease-in-out;
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.volume-level {
  height: 5px;
  width: 100px;
  background-color: #847e82;
  border-radius: 5px;
  position: relative;
}

.volume-level-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(34px);
  transform: translateY(-5px);
}

.mr-45 {
  margin-right: 2rem;
}

/* ...........................MusicPlayer Styling.............................. */

/* ...........................CenterSection Styling.............................. */

.center-section {
  /* background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(61, 9, 7, 1) 100%
  ); */
  background-color: rgb(20, 19, 19);
  overflow: auto;
}

h2 {
  color: white;
}

h5 {
  margin: 0 !important;
}

.center-nav-bar {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns-prev-next {
  align-self: start;
  display: flex;
  align-items: start;
}

.btns-prev-next img {
  padding-right: 1.5rem;
  cursor: pointer;
}

.px-35 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.good-morning-cards {
  height: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0.185);
  color: white;
  transition: all 0.2s ease-in-out;
}

.good-morning-cards:hover {
  background-color: rgba(255, 255, 255, 0.274);
}

.good-morning-cards:hover .green-player-btn-gm {
  opacity: 1;
}
.good-morning-cards img {
  height: 60px;
  width: 60px;
}

.good-morning-cards h5 {
  font-size: 10px;
}

.good-morning-card-body > .card-body {
  padding: 10px;
  height: 100%;
  display: flex;
  /* align-items: center; */
}

.recently-played-cards {
  border: none;
  background-color: #181818;
  color: white;
  height: 250px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.green-player-btn-gm {
  height: 16px;
  width: 16px;
  color: #1cdf63;
  background-color: black;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.green-player-btn-gm:hover {
  transform: scale(1.1);
}

#gm-play {
  transform: translate(-8px, -8px);
}

.green-player-btn-rp {
  height: 20px;
  width: 20px;
  color: #1cdf63;
  background-color: black;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 1.7rem;
  bottom: 6.4rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.green-player-btn-rp:hover {
  transform: scale(1.1);
}

#rp-play {
  transform: translate(-8px, -8px);
}

.recently-played-cards:hover {
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 1) 0%,
    rgba(40, 40, 40, 0.4808517156862745) 100%
  );
}

.recently-played-cards:hover .green-player-btn-rp {
  opacity: 1;
}

.recently-played-cards img {
  height: 150px;
  object-fit: cover;
}

.recently-played-cards > .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recently-played-cards p {
  font-size: 12px;
  text-align: center;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.navbar-log {
  position: absolute;
  right: 1.25rem;
}

.navbar-signup-btn {
  position: absolute;
  right: 8rem;
  background-color: none;
  color: #b1aaaf;
  transition: all 0.2s ease-in-out;
}

.navbar-signup-btn:hover {
  transform: scale(1.05);
  color: white;
}

.navbar-login-btn {
  position: absolute;
  right: 1.25rem;
  background-color: white;
  color: black;
  width: 100px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.navbar-login-btn:hover {
  transform: scale(1.05);
}

.dropMenu {
  min-width: 180px;
  margin: 0;
  padding: 5px;
  list-style-type: none;
  background-color: #282828;
  color: #fffefebd;
  position: absolute;
  right: 1.2rem;
  transform: translateY(130px);
  z-index: 10;
  font-size: 14px;
  user-select: none;
}

.dropMenu li {
  padding: 8px;
}

.logout-btn {
  border-top: 1px solid #fffefebd;
  font-weight: bold;
}

.logout-btn:hover {
  color: white;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
