.body {
  width: 100%;
  height: 100%;
}

/* ...........................LeftNav Styling.............................. */
.left-nav {
  min-width: 250px;
  max-width: 250px;
  height: 88vh;
  background-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #847e82;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.left-nav a {
  text-decoration: none;
  color: inherit;
}

.left-nav a:hover {
  color: white;
  text-decoration: none;
}

.left-nav ul {
  margin: 0;
  padding: 0;
}

.left-nav li {
  list-style-type: none;
}

.nav-pages li,
.nav-extra li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.nav-pages li:hover,
.nav-extra li:hover {
  transform: scale(1.035);
}

.nav-playlist li {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.logo img {
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.selected {
  background-color: #282828;
  color: white;
  border-radius: 5px;
}

/* ...........................LeftNav Styling.............................. */

/* ...........................MusicPlayer Styling.............................. */

.now-playing {
  height: 12vh;
  min-width: 320px;
  background-color: #181818;
  color: #847e82;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.song-info {
  display: flex;
  flex-direction: column;
}

.song-details {
  min-width: 180px;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.mini-song-album img {
  height: 50px;
  border-radius: 3px;
}

.song-info p {
  margin: 0;
}

.song-title {
  color: white;
}

.add-to-favorites,
.change-display {
  transition: transform 0.2s ease-in-out;
}

.add-to-favorites:hover,
.change-display:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.play-buttons {
  width: 25px;
  height: 25px;
}

.song-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 722px;
  width: 40%;
  margin-right: auto;
}

.shuffle-button,
.skip-left-button,
.skip-right-button,
.repeat-button {
  transition: transform 0.2s ease-in-out;
}

.shuffle-button:hover,
.skip-left-button:hover,
.skip-right-button:hover,
.repeat-button:hover {
  transform: scale(1.1);
  color: white;
  cursor: pointer;
}

.play-button {
  border-radius: 50%;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.play-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.progress-initial {
  height: 5px;
  width: 450px;
  background-color: #847e82;
  position: relative;
}

.progress-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(47px);
}

.song-duration {
  transition: transform 0.2s ease-in-out;
}

.song-duration:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.playlist-controls {
  min-width: 180px;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.playlist-button {
  transition: transform 0.2s ease-in-out;
}

.playlist-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.pc-button {
  transition: transform 0.2s ease-in-out;
}

.pc-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-button {
  transition: transform 0.2s ease-in-out;
}

.volume-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

.volume-control {
  transition: transform 0.2s ease-in-out;
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.volume-level {
  height: 5px;
  width: 100px;
  background-color: #847e82;
  border-radius: 5px;
  position: relative;
}

.volume-level-white {
  height: 5px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  transform: translateX(34px);
  transform: translateY(-5px);
}

.mr-45 {
  margin-right: 2rem;
}

/* ...........................MusicPlayer Styling.............................. */

/* ...........................CenterSection Styling.............................. */

h2 {
  color: white;
}

.hidden {
  display: none;
}

.center-section {
  /* background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(61, 9, 7, 1) 100%
  ); */
  height: 88vh;
  width: calc(100% - 250px);
  background-color: rgb(20, 19, 19);
  overflow: auto;
}

.bannerNav {
  position: fixed;
  z-index: 10;
  height: 4rem;
  width: calc(100% - 250px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(81, 154, 244, 0) 100%
  );
}

.banner-nav-arrows {
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.banner-nav-arrows:hover {
  transform: scale(1.1);
}

.mobile-buttons {
  display: none;
}

.profile {
  font-size: 1.5rem;
}

.card {
  border: none !important;
  background-color: #181818 !important;
  color: white;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
  min-height: 240px;
}

.card:hover {
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 1) 0%,
    rgba(40, 40, 40, 0.4808517156862745) 100%
  );
  transform: scale(1.05);
}

.card:hover .greenPlayBtn {
  opacity: 1;
}

.card-body {
  padding: 4px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 16px !important;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-text {
  font-size: 12px;
}

.greenPlayBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.greenPlay {
  width: 24px;
  height: 24px;
  color: #1cdf63;
  transform: translate(-3px, -3px);
}

.greenPlayBtn:hover {
  transform: scale(1.1);
}

/* ...........................CenterSection Styling.............................. */

/* ...........................Search Styling.............................. */

.browse-all-card {
  min-height: 150px;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.browse-all-card:hover {
  transform: scale(1.05);
}

.browse-all-img {
  height: 100px;
  max-width: 100px;
  position: absolute;
  transform: rotate(0.07turn) translateX(16%);
  bottom: 0;
  right: 0;
}

.input {
  width: 350px;
  border: none;
  border-radius: 20px;
  margin-left: 1rem;
}

.input:focus {
  outline: none;
  padding-inline: 12px;
}

.input::placeholder {
  padding-inline: 14px;
}
/* ...........................Search Styling.............................. */

/* ...........................Album/Artist styling.............................. */

.album-main {
  padding-top: 1rem;
}

.big-play {
  background-color: #1cdf63;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.big-play:hover {
  transform: scale(1.1);
}

.like-album {
  font-size: 1.7rem;
  color: #847e82;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.like-album:hover {
  color: white;
  transform: scale(1.1);
}

.track-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tracks-index {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracks-section {
  width: 30%;
  min-height: 40px;
}

.track-info {
  color: #847e82;
}

.track-info:hover {
  background-color: #847e82;
  color: white;
  border-radius: 4px;
}

.track-duration {
  width: 30px;
}

.liked-song {
  color: #1cdf63;
  cursor: pointer;
}
/* .absolute {
  position: absolute;
} */
/* ...........................Album/Artist styling.............................. */

/* ...........................Your Library styling............................... */

.library-tabs {
  font-weight: bold;
}

.l-tabs {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding-inline: 1rem;
}

.l-tabs:hover {
  transform: scale(1.1);
}

.liked-album {
  color: #1cdf63;
}

.w-full {
  width: 100%;
}

.liked-songs-card {
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  height: 280px;
  width: 400px;
  padding: 1rem;
  position: relative;
}

.liked-songs-playBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #1cdf63;
  background-color: #181818;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 5px -3px #000000;
  box-shadow: 0px 5px 5px -2px #393838;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.liked-songs-playBtn:hover {
  transform: scale(1.1);
}

.ls-btn {
  font-size: 3rem;
}

.liked-album-card {
  height: 280px;
  width: 200px;
}

/* ...........................Your Library styling............................... */

/* ...........................Liked Songs styling............................... */
.liked-songs {
  height: 100%;
  width: 100%;
}
.liked-songs-header {
  padding-top: 6rem;
  width: 100%;
}

.liked-songs-png {
  height: 186px;
  width: 186px;
}

.liked-songs-text {
  color: white;
}

.LS {
  font-weight: bold;
  font-size: 5rem;
}

/* ...........................Liked Songs styling............................... */

.unselectable {
  user-select: none;
}

/* ...........................Responsive design........................... */

@media screen and (max-width: 768px) {
  .left-nav {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50%;
    background-color: black;
    padding-top: 3rem;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
  }
  .left-nav-show {
    position: absolute;
    z-index: 1;
    height: 100%;
    background-color: black;
    width: 50%;
    padding-top: 3rem;
    transition: all 0.2s ease-in-out;
  }
  .left-nav-show a {
    color: white;
    text-decoration: none;
  }

  .left-nav-show ul {
    margin: 0;
    padding: 0;
  }

  .left-nav-show li {
    list-style-type: none;
  }
  .center-section {
    width: 100%;
  }
  .bannerNav {
    width: 100%;
    height: 4rem;
  }
  .web-buttons {
    display: none;
  }
  .mobile-buttons {
    display: block;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
  }
  .mobile-buttons-moved {
    display: flex;
    align-items: center;
    transform: translateX(900%);
    transition: all 0.2s ease-in-out;
  }
  .l-tabs {
    padding-inline: 2.5px;
  }
  .song-details {
    display: none !important;
  }
  .playlist-controls {
    display: none;
  }
  .song-controls {
    width: 100%;
  }
  .LS {
    font-size: 2rem;
  }
}
